
.DS_Store
/PoroApp/.idea
/PoroApp/venv
/PoroApp/build
/PoroApp/conf/__pycache__
/PoroApp/model/__pycache__
/PoroApp/test/ocr.py
/PoroApp/test/opencv_ocr.py
/PoroApp/test/qwerq.py
/PoroApp/utils/__pycache__
/PoroApp/view/__pycache__
/PoroApp/backup
/PoroApp/AF3CEE25BB.png
/PoroApp/E9cCD79dE5.png
/PoroApp/49D70eb72b.png
/PoroApp/93a9e23AaB.png
