
.DS_Store
/PoroApp/.idea
/PoroApp/venv
/PoroApp/build
/PoroApp/conf/__pycache__
/PoroApp/model/__pycache__
/PoroApp/test/ocr.py
/PoroApp/test/opencv_ocr.py
/PoroApp/test/qwerq.py
/PoroApp/utils/__pycache__
/PoroApp/view/__pycache__
/PoroApp/backup
/PoroApp/AF3CEE25BB.png
/PoroApp/E9cCD79dE5.png
/PoroApp/49D70eb72b.png
/PoroApp/93a9e23AaB.png
/PoroApp/collected_valid - Copy
/PoroApp/collected_valid
/PoroApp/collected_train
/PoroApp/collected_bk_1
/PoroApp/collected
/PoroApp/temp
/model/lol_face_recognization/.ipynb_checkpoints
/PoroApp/test/ASDAS.py
/PoroApp/test/qwerq.py
/PoroApp/test/ocr.py
/PoroApp/test/collect
/PoroApp/test/afasfsf.py
/PoroApp/test/saa.csv
/PoroApp/test/reformatss.py
/PoroApp/resources/data/support/22222.png
/PoroApp/resources/data/support/bracket_left.png
/PoroApp/resources/data/support/bracket_right.png
/PoroApp/resources/data/support/owned.png
/PoroApp/resources/data/support/owned2.png
/PoroApp/resources/data/support/ssss.png
